root: true

parserOptions:
  ecmaVersion: 2022
  sourceType: "module"

env:
  es2022: true
  browser: true

rules:
  quotes: [1, "double", "avoid-escape"]
  no-unused-vars: warn
  no-console: off
  no-trailing-spaces: off

globals:
  noUiSlider: readonly
  Pristine: readonly

extends:
  "htmlacademy/vanilla"
